*{
    box-sizing: border-box;
   font-family: 'Oswald', sans-serif; 
    text-align: center;
}

body{
    padding:5%;
    background-color:#181818;
}

img{
    max-width: 100%;
}

.profile-pic{
    padding-top:30px;
}

ul{
   padding-left:0; 
}

li,h2{
    list-style: none;
    font-weight: 800;
    text-transform: uppercase;
    padding: 15px;
    font-size: 18px;
    color:#d1d1d1;
}


h1{
    color:#e46400;
}


#top{
    text-transform: uppercase;
}


.top{
    margin:16px 0;
}

h3{
    color:#e46400;
    font-weight:600;
}

#logo{
    font-size:30px;
    color:#e46400
}

p{
    color: #fff;
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    padding:20px;
}

#contact{
    margin-top:25px;
}
a{
    text-decoration:none;
    color:#d1d1d1;
    font-weight: 800;
}

a:hover{
    color:#e46400;
}

.container{
    padding-top: 10%;
    padding-bottom:10%;
}

#portfolio{
    padding: 40px;
}

.wrapper{
    padding-bottom: 25px;
}

.contact-info{
    font-weight: 700;
    color:#696969;
}

footer{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    font-weight: 800;
    border-top: solid #696969 2px;
    margin-top: 100px;
    align-items: center;
}


.nav-footer{
    display:none;
}

@media screen and (min-width:768px) {
.nav{
    width:335px;
    display:flex;
    margin:auto
}

.img-wrapper{
    display:flex;
    flex-direction: row-reverse;
    margin-top:50px;
}

.profile-pic{
    padding-top:0;
    width:40%;
    height:100%;
}
.bio{
    width:54%;
    padding-right: 90px;
    text-align:left;
    font-size:1.24em;
    margin-top:0;
}
.wrapper{
    float: left;
    width:45%;
}

.wrapper:nth-child(even){
    margin-right: 7%;
}
.port-para{
    padding:0 50px;
    color:#fff;
    font-weight: 400;
}
.contact-container{
    max-width:85%;
    margin:auto;
    padding:0;
    text-align:center;
}

.container img{
max-width: 108%;

}

.contact-text{
margin-top:50px;
}

.top{
    display:none;
}
.nav-footer{
    display:flex;
    text-align:center;
}

.contact-info{
    color:#d1d1d1;
}



}

@media screen and (min-width: 1024px){

    body{
        padding-bottom: 0;
    }
    .main-nav{
        display:flex;
        justify-content:space-between;
    }

    .nav{
        margin:initial;
        align-items: center;
    }
  
    .bio{
        width:54%;
        padding-right: 90px;
        text-align:left;
        font-size:2em;
        margin-top:0;
        font-weight: 900;
    }

    .wrapper:nth-child(even){
        margin-right: initial;
    }

    .wrapper.wrap-1,
    .wrapper.wrap-2,
    .wrapper.wrap-4,
    .wrapper.wrap-5{
        margin-right:5% ;

    }

   .wrapper{
       width:30%;
   }

    .container img {
        max-width: 100%;
        
    }

    .contact-container{
        max-width: 50%;
    }
}