*{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    list-style: none;
}

.nav-container {
    width: 100%;
    background-color: var(--primary-color);
}

.navbar {
    display:grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items:center;height: 80px;
    width:90%;
    max-width: 1720px;
    margin:0 auto;
}

#navbar-logo{
    color:var(--secondary-color);
    justify-self: start;
    margin-left: 20px;
}

#navbar-logo{
    cursor: pointer;
}

.nav-menu {
    display:grid;
    grid-template-columns:repeat(5,auto) ;
    list-style: none;
    text-align: center;
    width:70%;
    justify-self: end;
}

.nav-links {
    text-decoration: none;
    color:#696969;

}

.nav-links:hover {
   color: var(--secondary-color);
   transition: all 0.2s ease-out; 
}

